/* === Home Page === */

body {
  font-family: serif;
  font-size: 16px;
  background-color: #e6e6ff; /* pale pale blue */
  color: #0000b3; /* darkish blue */
  min-width: 375px;
}
.container, .jumbotron {
  border: 3px solid #4d4dff; /* dark blue */
}

/* === Nav Bucket === */

h1.nav-shoutout {
  font-size: 2.2em;
  margin: 0 30px;
  line-height: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  color: #e60000;
}
div#nav-bucket {
  background-color: #ccccff; /* lightblue */
  box-shadow: 0 0 25px #0000b3; /* med blue */
}

/* === Menu Bucket === */

div#menu-bucket {
  border: none;
  background-color: none;
  width: 35%;
  margin-bottom: 30px;
}

/* === Main Bucket === */

div#main-bucket {
  border: none;
  background-color: none;
  width: 100%;
}
h2#menu-title {
  position: relative;
  bottom: 30px;
  font-size: 2em;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  color: #e60000;
}
.menu-tile {
  position: relative;
  bottom: 20px;
  border: 3px solid #4d4dff;
  overflow: hidden;
  width: 100%;
  padding: 2px 20px;
  margin: 0 auto 15px;
  background-color: #ffbf80; /* tan */
  box-shadow: 0 0 25px #0000b3; /* med blue */
  border-radius: 8px;
}
h3 {
  /* position: absolute; */
  /* top: 0; */
  font-size: 1.6em;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  text-align: center;
}

/* === Special Class to Force the 3rd Item Wider Than The Others === */
@media (min-width: 768px) and (max-width: 991px) {
  .go-wide {
    width: 100%;
  }
}
