/* === Home Page === */

body {
  font-family: serif;
  font-size: 16px;
  background-color: #e6e6ff;           /* pale pale blue */
  color: #0000b3;                      /* darkish blue */
}

/* === Header === */

#nav-bucket {
  background-color: #ffcc99;           /* lighter tan than menu items */
  box-shadow: 0 0 25px #0000b3;        /* med blue */
  border-radius: 0;
  border: 3px solid #4d4dff;           /* dark blue */
  margin-bottom: 30px;
}
#nav-container {
  border: none;
}
.nav-shoutout {
  font-size: 2.2em;
  margin: 0 30px;
  line-height: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  color: #e60000;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-btn {
  background-color: #ffaf70;
}
#nav-btn:hover, #nav-btn:active {
  background-color: #ff8b33;
}
#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list li {
  font-size: 1.2em;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  text-align: center;
}
#nav-list a {
  color: #0000b3;
  /* text-align: center; */
}
#nav-list a:hover {
  background-color: white;
}
#collapsable-nav a {                   /* Collapsed nav menu text */
  font-size: 1.2em;
}

/* === Menu Bucket === */

#menu-bucket {
  border: none;
  background-color: none;
  margin-bottom: 30px;
}
#menu-bucket a {
  box-shadow: 0 0 5px #0000b3;         /* med blue */
}
.navbar-brand {
  padding-top: 25px;
}

/* === Main Bucket === */

#main-bucket {
  border: none;
  background-color: none;
  width: 100%;
}
#menu-title {
  position: relative;
  bottom: 30px;
  font-size: 2em;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  text-shadow: 0 0 4px #000;
  color: #e60000;
}
.menu-tile {
  position: relative;
  bottom: 20px;
  border: 3px solid #4d4dff;
  overflow: hidden;
  width: 100%;
  padding: 0 20px 10px;
  margin: 0 auto 15px;
  background-color: #ffbf80;           /* tan */
  box-shadow: 0 0 25px #0000b3;        /* med blue */
  border-radius: 8px;
}
h3 {
  font-size: 1.6em;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  /* text-align: center; */
}

/* === Special Class to Force the 3rd Item Wider Than The Others === */

@media (min-width: 768px) and (max-width: 991px) {
  .go-wide {
    width: 100%;
  }
}
